# Ambiente virtal
venv/

# Cache do Python
__pycache__/
*.py[cod]

# Testes
.pytest_cache/

# Variáveis de ambiente
.env

# Configurações locais do VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db